---
layout: splash
title: "Model Gallery"
permalink: /model-gallery/
author_profile: true
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: 500x300.png
  actions:
    - label: "Download"
      url: "https://github.com/mmistakes/minimal-mistakes/"
  caption: ""
excerpt: "Here I showcase a few images from various projects that I've worked on."

## Test a header here

feature_row_1:
  - image_path: gallery/mesh_interface.png
    alt: "ASPECT"
    title: "ASPECT"
    excerpt: "I am developing 3-Dimensional regional subduction models of the Hikurangi Margin."

feature_row_2:
  - image_path: gallery/total_stress_strain.png
    alt: "Deal.II"
    title: "Deal.II"
    excerpt: "Stress-strain rate due to loading of the Hawaiian Islands"

  - image_path: gallery/island_growth.gif
    alt: "Rayleigh"
    title: "Rayleigh"
    excerpt: "Animation showing the growth of the Hawaiian Islands" 
---

{% include feature_row_1 %}

## Test another header Here

{% include feature_row_2 %}

{% include base_path %}
