---
layout: splash
title: "Model Gallery"
permalink: /model-gallery/
author_profile: true
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: 500x300.png
  actions:
    - label: "Download"
      url: "https://github.com/mmistakes/minimal-mistakes/"
  caption: ""
excerpt: "Here I showcase a few images from various projects that I've worked on."

feature_row:
  - image_path: gallery/mesh_interface.png
    url: https://agupubs.onlinelibrary.wiley.com/doi/10.1029/2024GC011824
    alt: "3D Models of Subduction at the Hikurangi Margin"
    title: "3D Models of Subduction at the Hikurangi Margin "
    excerpt: "3-Dimensional models of subduction at the Hikurangi Margin, New Zealand."

  - image_path: gallery/total_stress_strain.png
    url: https://agupubs.onlinelibrary.wiley.com/doi/full/10.1029/2024JB030376
    alt: "Stress and Strain Beneath the Island of Hawaii"
    title: "Stress and Strain Beneath the Island of Hawaii"
    excerpt: "Stress-strain rate due to loading of the Hawaiian Islands with varying rheology and lithospheric thermal structure."

  - image_path: gallery/growing_islands.gif
    url: https://agupubs.onlinelibrary.wiley.com/doi/full/10.1029/2024JB030376
    alt: "Growth of the Hawaiian Islands"
    title: "Growth of the Hawaiian Islands"
    excerpt: "Animation showing the growth of the Hawaiian Islands over time."

  - image_path: gallery/slab.gif
    alt: "2D Subduction with Parameterized Devolatilization"
    title: "2D Subduction with Parameterized Devolatilization"
    excerpt: "Animation showing a 2D subduction model with two-phase reactive fluid transport. " 
---

{% include feature_row %}

{% include base_path %}
